
<div class="row" style="width: 90%; margin: 20px auto;">
	<h3>管理者画面</h3><br><br>
	<h1>
<span>本日の注文件数　　　　</span>
		 		<%= link_to @orders.count, admin_orders_path(day: 1) %>
			<span>件</span>
		</h1>
	</div>