
<div class="col-xs-4">
	<h2>会員一覧</h2>
	<table border="" align="center">
		<thead>
			<tr>
				<th><strong>会員ID</strong></th>
			    <th><strong>氏名</strong></th>
			    <th><strong>メールアドレス</strong><th>
			    <th><strong>ステータス</strong></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td>
					<%= user.id %>
				</td>
				<td>
					<%= link_to user.last_name, user.first_name, edit_admin_user(@user) %>
				</td>
				<td>
					<%= user.email %>
				</td>
				<td>
					<%= user.flag %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
			