<h2>会員詳細</h2>
<h5>顧客ID</h5>user.id flag
<h5>氏名</h5>lastname firstname
<h5>フリガナ</h5>sublastname subfirstname
<h5>郵便番号</h5>postal_code
<h5>住所</h5>adress
<h5>電話番号</h5>phone_number
<h5>メールアドレス</h5>email
<li class=btn-group>
	<input type=btn class="編集する">edit
	<input type=btn class="注文履歴一覧を見る">admin/admin/order/index
