
<div class = 'cart_item_page'>
	<p style= 'color: pink;'><%= flash[:cart_notice ]%></p>
		<h3 class="cart_text">ショッピングカート</h3><br>
			<p class="cart_delete_botton"><%= link_to 'カートを空にする', @user, method: :delete, data: {conform: "本当に全部削除してもよろしいですか？"}, class: "btn btn-danger" %>
			</p>

		<%= render 'cart_items', cart_items: @cart_items, total_price: @total_price %>
</div>







