<h2>注文情報入力</h2>
<%= form_for [:public, @order] do |f| %>

<h3>支払い方法</h3>
    <div><%= f.radio_button :payment_method, :クレジットカード %>クレジットカード</div>
    <div><%= f.radio_button :payment_method, :銀行振込 %>銀行振込</div>
<h3>お届け先</h3>

    <%= f.submit "確認画面へ進む" %>
    <% end %>