<body>
	<div align="center">
		<h3><strong>本当に退会しますか？</strong></h3><br />
		<br />
		<ul>退会すると、会員登録情報や<br />
			これまでの購入履歴が閲覧できなくなります。<br />
			退会する場合は、「退会する」をクリックしてください。</ul>
		<br />
		<table>
				<tr>
					<td>
					    <%= link_to 'public_users_edit' do %>
					    <input class="btn btn-primary" type="submit" value="退会しない">
					    <% end %>
				    	<% if user_signed_in? && @user.id == current_user.id %>
                        <%= link_to "退会する", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-primary" type="submit" value="退会する" %>
				    	<% end %>
				    </td>
		        </tr>
		</table>
    </div>
</body>
