<table class="">
	<thead>
		<th>ジャンル検索</th>
	</thead>
	<tbody>
		<% @genres.each do |genre| %>
			<% if genre.genre_status == "有効" %>
				<tr>
					<td><%= genre.name %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>